form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(125, 111, 139);
  border-radius: 1rem;
}
form > * {
  border: 5px solid green;
  background-color: rgb(225, 215, 29);
  border-radius: 1rem;
}
